[Unit]
Description=ServiceReport
Wants=kdump.service

[Service]
Type=oneshot
ExecStart=/usr/bin/servicereport -v

[Install]
WantedBy=multi-user.target
